 {% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container">
     <div class="row">

        <!-- Feature End-->
<p  style="margin-top:30px;text-align:right">
    توسعه اینترنت روش‌های خرید ما را به کلی دگرگون کرده است. منافع موجود در خرید اینترنتی هر روز تعداد بیشتری از مردم را به تجربه آن و ایجاد تغییر در الگوهای متداول خرید ترغیب می‏‌کند. امروز دیگر افراد این روش خرید را بیشتر منطبق بر شرایط زندگی مدرن می‏‏‏‌بینند. ویژگی‏‏‏‌ها و طبیعت خرید اینترنتی با روحیات و نیازهای رو به رشد ما هماهنگ‏‏‌تر شده است. همه سخت در حال تلاش برای پیشرفت‏‏‌های شخصی و جمعی خود هستیم.
امروزه بهای اوقات فراغت ما با وجود مشغله‏‌های روزانه بسیار گرانبها‌تر شده است. همه ما برای این اوقات برنامه ریزی فشرده‏‌تری داریم. دیگر صرف زمان‌هایی نسبتا طولانی در فعالیت‏‌های نه‌چندان با اهمیت مانند خرید و سفرهای شهری برای بسیاری از انسان‌ها اولویت خود را از دست داده است. هوشمندی انسان‌ها، آنها را مجاب می‏‌کند که با تغییر در الگوهای قدیمی و نا‏کارآمد زندگی، هوشمندانه‏‌تر و امروزی‏‌تر زندگی کنند. صرف اوقات فراغت برای تفریح، آموزش، ورزش، لذت بردن از علایق شخصی و رفع خستگی‏‏‌های روزانه اولویت بیشتری نسبت به فعالیت‌‏‏‏های وقت‌گیر و در عین حال کم اهمیت‏‏‏‌تر مانند خرید کردن دارند.
امروز دیگر برای بیشتر نیازهای روزمره راه‏ حل‏‏‏‌های جدیدتری وجود دارد، از جمله برای انتخاب و خرید کالا. دیگر کمتر کسی برای خرید کالا، بدون تحقیق و بررسی دقیق اقدام می‏‌کند.
مشتریان پیشاپیش و قبل از خرید از حق انتخاب گسترده خود و اطلاعات موجود نهایت استفاده را می‏‌برند. مشتری در دنیای امروز حق انتخاب بیشتری را طلب می‏‌کند و مایل است دقیق‏‌تر و با قطعیت بیشتری انتخاب کند. زندگی امروزی بی‏‌گمان خرید به رو‏‌ش‌های نو‏تر، هوشمندانه‏‌تر و البته لذت‏‏ بخش‏‌تری را می‏‌طلبد. از همین روست که هر روز به تعداد استفاده‏ کنندگان سرویس‌های اینترنتی و مشتریان فروشگاه‏‏‌‏های اینترنتی افزوده می‌‏‏شود.
 در دیوار بهشتی می توانید اجناس دسته دوم دانشگاه را با کیفیت و قیمت مناسب دریافت کنید
</p>

     </div>
       <h3 style=text-align:right >ویژگی های این سامانه</h3>
      <div class="row">
  <div class="feature">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fab fa-cc-mastercard"></i>
                            <h2 style="text-align:center;">پرداخت مطمئن</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-truck"></i>
                            <h2 style="text-align:center;">ارسال به سراسر ایران</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-sync-alt"></i>
                            <h2 style="text-align:center;">ارجاع کالا در صورت خرابی</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-comments"></i>
                            <h2 style="text-align:center;">پشتیبانی ۲۴ ساعته</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
 </div>



 {% endblock %}
