{% extends 'base.html' %}

{% block content %}
 <div style="margin-bottom:190px;" class="coupon">

    <p style="margin-left:10px; margin-top: 20px"> {{ order.get_total_price }}مجموع </p><br/>

    <form  style="margin-left:10px;" action="{% url 'orders:coupon_apply' order.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input  class="btn btn-primery" style="margin-left:10px;" type="submit" value="اعمال">
    </form>

    <br/>

    <a  class="btn btn-primery" style="margin-left:30px; margin-bottom:30px" href="{% url 'orders:payment' order.id order.get_total_price %}">پرداخت</a>

 </div>
{% endblock %}