.main-nav{
 border-bottom:1px solid #A9A9A9;
};
body {
   color: #f3f6ff;
    font-family: 'Samim', sans-serif;
    font-weight: 400;
    background: #f3f6ff;
}
h1 {
    font-family: 'Samim', sans-serif;
    font-weight: 900;
    text-align:right
}

h2 {
    font-family: 'Samim', sans-serif;
    font-weight: 700;
    text-align:right;
}
h3{
    font-family: 'Samim', sans-serif;
    font-weight: 700;
    text-align:right;
}

.footer{
 border-top:1px solid #A9A9A9;
}
p{
font-family: 'Samim', sans-serif;

}
a{
font-family: 'Samim', sans-serif;
}
.fa-phone-square-alt{
 color: #FF6F61;
}
