.main-nav{
 border-bottom:1px solid #A9A9A9;
};
body {
    color: #353535;
    font-family: 'Samim', sans-serif;
    font-weight: 400;
    background: #f3f6ff;
}
h1 {
    font-family: 'Samim', sans-serif;
    font-weight: 900;
}

h2 {
    font-family: 'Samim', sans-serif;
    font-weight: 700;
}
