{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Contact Start -->
        <div class="contact">
            <div class="container-fluid">
                <div class="row">
                          <div  style="margin-bottom:30px" class="  col-lg-6">
                        <div  class=" contact-form">
                             <h2>تماس با ما</h2>
                            <form action="" method="post">
                                 {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                         {{ form.as_p }}
<!--                                        <input type="text" class="form-control" placeholder="نام و نام خوانوادگی" />-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                        <input type="email" class="form-control" placeholder="ایمیل" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <input type="text" class="form-control" placeholder="موضوع" />-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <textarea class="form-control" rows="5" placeholder="متن پیام"></textarea>-->
<!--                                </div>-->
                                    </div>
                                <div><button class="btn" type="submit">ثبت و ارسال</button></div>
                                </div>
                            </form>
                        </div>
                    </div>





                    <div style="margin-bottom:30px"class="  col-lg-6">
                        <div class="  contact-info">
                           <h2>آدرس</h2>
                            <h3><i class="fa fa-map-marker"></i>123 Office, Los Angeles, CA, USA</h3>
                            <h3><i class="fa fa-envelope"></i>office@example.com</h3>
                            <h3><i class="fa fa-phone"></i>+123-456-7890</h3>
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
<!--                    <div class="col-lg-4">-->
<!--                        <div class="contact-info">-->
<!--                            <h2>Our Store</h2>-->
<!--                            <h3><i class="fa fa-map-marker"></i>123 Store, Los Angeles, CA, USA</h3>-->
<!--                            <h3><i class="fa fa-envelope"></i>store@example.com</h3>-->
<!--                            <h3><i class="fa fa-phone"></i>+123-456-7890</h3>-->
<!--                            <div class="social">-->
<!--                                <a href=""><i class="fab fa-twitter"></i></a>-->
<!--                                <a href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a href=""><i class="fab fa-linkedin-in"></i></a>-->
<!--                                <a href=""><i class="fab fa-instagram"></i></a>-->
<!--                                <a href=""><i class="fab fa-youtube"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
            </div>
         {% endblock %}
