{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
{% endblock %}
{% block content %}
        <div class="container">
             <h3 style="text-align:right; margin-top:20px;"> سوالات متداول</h3>
            <div class="row">
                 <div class="card-body">

                <div  style="margin-bottom:180px;margin-top:20px;" class=" col-lg-12">
                <div  id="accordion" class="niloo">
                    {% for rs in faq %}
                        <h3>{{ rs.question }}</h3>
                        <div>
                            <p>
                                {{ rs.answer | safe }}
                            </p>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        </div>
        </div>
{% endblock %}