{% extends 'base.html' %}
{% load static %}
{% block content%}
        <div class="login">
            <div class="container-fluid">
                    <div  style="margin-bottom:30px" class="  col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="login-form">
                  <form  action="" method="post">
                   {% csrf_token %}
                 {{ form.as_p}}

                                       <a class=" nav-link" href="">بازیابی رمز عبور</a>


                      <button type="submit" class="btn btn-primary btn-lg"  value="Login"> ورود</button>


                </form>

                                    </div>

                                     </div>
                                          </div>
                                                  </div>
                                                       </div>




{% endblock %}