{% extends 'base.html' %}
{% load static %}
 {%block custom_tags %}
    <link rel="stylesheet" href="{%static 'User/css/style.css'%}">
    {%endblock%}
{% block content%}
<div class="container"  >
        <div class=" card  col-sm-9 col-md-7 col-lg-5 mx-auto" style="max-width: 30rem;">
            <div class="card-body">
            <h2>Login Page</h2>
            <div class="login-form">
                  <form action="" method="post">
                   {% csrf_token %}
                 {{ form.as_p}}
                      <button type="submit" class="btn btn-primary btn-lg"  value="Login">Login</button>

                </form>
                   </div>

            </div>
         </div>
      </div>


{% endblock %}

