{% extends 'base.html' %}

{% block content %}
<title>Profile</title>
<div class="container">
  <div class="row">
       <div class="col-md-8 card mb-4  mt-3 ">
    <div class="card-body">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>Full name: {{ user.full_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>bio: {{ profile.bio }}</p>
    <p>Phone: {{ profile.phone }}</p>
     <p>Age: {{profile.age}}</p>
    {% if profile.image %}
    <img src="{{ user.userprofile.image.url }}" width="240">
    {% endif %}
        </div>
</div>
  </div>
</div>

{% endblock %}>