{% extends 'base.html' %}

{% block content %}
<title>Profile</title>
<div class="container">
  <div class="row">
       <div class="col-md-8 card mb-4  mt-3 ">
    <div class="card-body">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Description: {{ user.userprofile.description }}</p>
    <p>Phone: {{ user.userprofile.phone }}</p>
    <p>City: {{ user.userprofile.city }}</p>
    <p>Website: {{ user.userprofile.website }}</p>
    {% if user.userprofile.image %}
    <img src="{{ user.userprofile.image.url }}" width="240">
    {% endif %}
        </div>
</div>
  </div>
</div>

{% endblock %}>