{% extends 'base.html' %}

{% block content %}
<title>Profile</title>
<div class="container">
  <div class="row">
       <div class="col-md-8 card mb-4  mt-3 ">
    <div class="card-body">
    <h1>پروفایل</h1>
    <p>نام کاربری:
        {{ user }}</p>
    <p>نام و نام خانوادگی:
        {{ user.full_name }}</p>
    <p>ایمیل:
        {{ user.email }}</p>
    <p>بیو:
        {{ profile.bio }}</p>
    <p> تلفن:
        {{ profile.phone }}
        </p>
     <p>سن:
         {{profile.age}}</p>
    {% if profile.image %}
    <img src="{{ user.userprofile.image.url }}" width="240">
    {% endif %}
          <a href="{% url 'accounts:edit_profile1'%}"class="btn btn-primary" type="submit">ویرایش اطلاعات</a>
        </div>

</div>
  </div>
</div>

{% endblock %}