{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="login">
            <div class="container-fluid">
                    <div class=" col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="register-form">
                            <h3>ثبت نام</h3>
                  <form action="" method="post">
                   {% csrf_token %}
                 {{ form.as_p}}
<!--                       <div class="col-md-12">-->
<!--                                    <div class="custom-control custom-checkbox">-->
<!--                                        <input type="checkbox" class="custom-control-input" id="newaccount">-->
<!--                                        <label class="custom-control-label" for="newaccount">Keep me signed in</label>-->
<!--                                    </div>-->
<!--                                </div>-->
                      <button type="submit" class="btn btn-primary btn-lg"  value="signup">ثبت نام</button>

                </form>

                                    </div>

                                     </div>
                                          </div>
                                                  </div>







<!--<div class="container"  >-->
<!--        <div class=" card  col-sm-9 col-md-7 col-lg-5 mx-auto" style="max-width: 30rem;">-->
<!--            <div class="card-body">-->
<!--            <h2>Register Page</h2>-->
<!--            <div class="login-form">-->
<!--                  <form action="" method="post">-->
<!--                   {% csrf_token %}-->
<!--                 {{ form.as_p}}-->
<!--                      <button type="submit" class="btn btn-primary btn-lg"  value="signup">Sign up</button>-->

<!--                </form>-->
<!--                   </div>-->

<!--            </div>-->
<!--         </div>-->
<!--      </div>-->

{% endblock %}